*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/app/build/
/mylibrary2/build/
!/mylibrary2/build/
libs/
src/main/res/drawable/
